/* Estilo para el fondo de la página */
body {
    background-image: url("../img/Autoruta.jpg");
    background-size: cover;
}


/* Estilo para el título del formulario */
h1 {
    text-align: center;
    color: black;
}

/* Estilo para los campos del formulario */
.form-control {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
}

/* Estilo para el botón de inicio de sesión */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #0062cc;
    border-color: #005cbf;
}

.contenedor_contenido {
    display: flex;
    flex-direction: row;
}

.c_seguros {
    margin: 2rem 1rem 2rem 2rem;
}

.c_barraL {
    margin: 2rem 2rem 1rem 2rem;
}

.btnDel {
    float: right;
}

.btnEdit {
    float: right;
}

.container-fluid {
    height: 90%;
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner {
    height: 200px;
}

.bg-opacity-50 {
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel-inner {
    min-height: 400px; /* Ajusta este valor según sea necesario */
}

.carousel-inner img {
    object-fit: cover; /* Asegura que las imágenes cubran el espacio disponible */
    width: 100%;
    max-height: 400px; /* Ajusta este valor para que coincida con la altura del .carousel-inner */
}

.description-box {
    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.7); /* Gris con transparencia */
    padding: 10px; /* Espaciado interno para que el texto no toque los bordes */
    border-radius: 5px; /* Bordes redondeados para un aspecto más suave */
}

.carousel-caption, .carousel-caption .btn-primary {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s;
}

.carousel-item:hover .carousel-caption,
.carousel-item:hover .carousel-caption .btn-primary {
    opacity: 1;
    visibility: visible;
}

body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.modern-text {
    color: #333;
    line-height: 1.6;
    font-size: 20px;
}
.feature-text {
    font-weight: 500;
    color: #007bff;
}