<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>NAVBAR</title>
</head>
<body>
<nav th:fragment="navbar(liActive)" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img th:src="@{/img/TLP_Logo.png}" alt="Rent a Car" width="50" height="50" class="d-inline-block align-top">
            Rent a Car
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${#strings.equalsIgnoreCase('index', liActive) ? 'active' : ''}">
                    <a th:if="${not #strings.equalsIgnoreCase('index', liActive)}" class="nav-link" th:href="@{/index}">Inicio<span class="sr-only"></span></a>
                    <span th:if="${#strings.equalsIgnoreCase('index', liActive)}" class="nav-link">Inicio</span>
                </li>
                <li class="nav-item" th:classappend="${#strings.equalsIgnoreCase('vehiculos', liActive) ? 'active' : ''}">
                    <a th:if="${not #strings.equalsIgnoreCase('vehiculos', liActive)}" class="nav-link" th:href="@{/vehiculos}">Vehículos</a>
                    <span th:if="${#strings.equalsIgnoreCase('vehiculos', liActive)}" class="nav-link">Vehículos</span>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()" th:classappend="${#strings.equalsIgnoreCase('contacto', liActive) ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/contacto}">Contacto</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_MANAGE_CAR_R')"
                    th:classappend="${#strings.equalsIgnoreCase('mantenedor-vehiculos', liActive) ? 'active' : ''}">
                    <a th:if="${not #strings.equalsIgnoreCase('mantenedor-vehiculos', liActive)}" class="nav-link"
                       th:href="@{/mantenedor-vehiculos}">Gestión de Flota de Vehículos</a>
                    <span th:if="${#strings.equalsIgnoreCase('mantenedor-vehiculos', liActive)}" class="nav-link">Mantenedor de vehiculos</span>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_RESERVATION_PAYMENT_R')"
                    th:classappend="${#strings.equalsIgnoreCase('pagos', liActive) ? 'active' : ''}">
                    <a th:if="${not #strings.equalsIgnoreCase('pagos', liActive)}" class="nav-link"
                       th:href="@{/pagos}">Pagos</a>
                    <span th:if="${#strings.equalsIgnoreCase('pagos', liActive)}" class="nav-link">Pagos</span>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_RESERVATION_U')"
                    th:classappend="${#strings.equalsIgnoreCase('reservas', liActive) ? 'active' : ''}">
                    <a th:if="${not #strings.equalsIgnoreCase('reservas', liActive)}" class="nav-link"
                       th:href="@{/mis-reservas}">Mis Reservas</a>
                    <span th:if="${#strings.equalsIgnoreCase('reservas', liActive)}" class="nav-link">Mis Reservas</span>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_RESERVATION_E')"
                    th:classappend="${#strings.equalsIgnoreCase('reservas-clientes', liActive) ? 'active' : ''}">
                    <a th:if="${not #strings.equalsIgnoreCase('reservas-clientes', liActive)}" class="nav-link"
                       th:href="@{/reservas-clientes}">Reservas Clientes</a>
                    <span th:if="${#strings.equalsIgnoreCase('reservas-clientes', liActive)}" class="nav-link">Reservas Clientes</span>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Inicia Sesión</a>
                    <span class="nav-link" sec:authorize="isAuthenticated()" th:text="${'Bienvenid@, ' + #authentication.principal.username}">username</span>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ROLE_RESERVATION_C')">
                    <span class="nav-link">TLP-Puntos: <span th:text="${#authentication.principal.totalGiftPoints}"></span></span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
