<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head_tag('Búsqueda de Vehículos')}"><title>VEHICULOS</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('vehiculos')}"></nav>
<div class="container bg-white">
    <div class="p-2">
        <h2 class="mb-4">Búsqueda de Vehículos</h2>
    </div>
    <form th:object="${carSearchForm}" th:action="@{/busqueda-vehiculos}" method="post" class="p-2">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="marca">Marca:</label>
                <select th:field="*{brand}" class="form-control" id="marca">
                    <option value="">Elija una Marca...</option>
                    <option th:each="brand : ${listOfBrands}" th:value="${brand['id']}" th:text="${brand['name']}"></option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="modelo">Modelo:</label>
                <input th:field="*{model}" type="text" class="form-control" id="modelo" placeholder="Ej. Corolla">
            </div>

            <div class="form-group col-md-6">
                <label for="anio">Año:</label>
                <select th:field="*{year}" class="form-control" id="anio">
                    <option value="">Elija un año...</option>
                    <option th:each="year : ${listOfYears}" th:value="${year}" th:text="${year}"></option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="ubicacion">Ubicación (Sucursal):</label>
                <select th:field="*{subsidiary}" class="form-control" id="ubicacion">
                    <option value="">Elija una Sucursal...</option>
                    <option th:each="sub : ${listOfSubsidiaries}" th:value="${sub['id']}" th:text="${sub['name']}"></option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="type">Tipo de Vehículo:</label>
                <select th:field="*{type}" class="form-control" id="type">
                    <option value="">Elija un Tipo...</option>
                    <option th:each="type : ${listOfCarTypes}" th:value="${type['id']}" th:text="${type['name']}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="tarifa">Tarifa (max. por día):</label>
            <input th:field="*{price}" type="number" class="form-control" id="tarifa" placeholder="Ej. 50">
        </div>

        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <div th:if="${results != null}" id="cars_cards" class="bg-white p-2">
        <h2 class="mb-4">Vehículos Encontrados</h2>
        <table id="cars_table" class="table table-striped" th:if="${#lists.size(results) > 0}">
            <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo</th>
                <th>Año</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${results}">
                <td>[[${row.brand}]]</td>
                <td>[[${row.model}]]</td>
                <td>[[${row.type}]]</td>
                <td>[[${row.year}]]</td>
                <td><a th:href="@{/detalle-vehiculo(idVehiculo=${row.id})}">Ver +</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
</body>
</html>