<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Contacto')}"><title>PRINCIPAL</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('contacto')}"></nav>
<div class="container bg-white">
    <h1 class="text-center mb-5">CONTACTO</h1>
    <form>
        <!-- Datos del cliente -->
        <div class="mb-3 row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="apellido" name="apellido" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="telefono" name="telefono" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="exampleTextarea" class="col-sm-2 col-form-label">Comentarios</label>
            <div class="col-sm-10 text-center">
                <textarea class="form-control" id="exampleTextarea" rows="2"></textarea>
            </div>

        </div>
        <div class="mb-3 row">
            <div class="col-sm-12 text-center">
                <button id="btncontacto" type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="col-md-6 bg-white bg-opacity-50">
            <footer class="mt-5">
                <p>&copy; Información adicional</p>
                <ul>

                    <li><a th:href="@{/requisitos}">Requisitos para arrendar</a></li>
                    <li><a th:href="@{/contacto}">Contacto</a></li>
                    <li><a href="/rrss">Redes Sociales</a></li>
                </ul>
            </footer>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="confirmarModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmarModalLabel">Confirmación de Reserva</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>¡Gracias por contactarte Rent-a-Car High Gamma! Hemos recibido su mensaje con éxito.</p>
                <p>Nos contactaremos a la brevedad posible</p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer_tag"></footer>
</body>
</html>