<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments/head :: head_tag('Detalle del Vehículo')}"><title>PRINCIPAL</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('vehiculos')}"></nav>
<div class="container bg-white p-2">
    <div class="p-2">
        <h2 class="mb-4">Detalle del Vehículo</h2>
        <div class="row">
            <div class="col-md-6">
                <img th:src="${car.imageUrl}" alt="Foto Vehículo" width="400">
            </div>
            <div class="col-md-6">
                <div th:if="${isReserved}" class="alert alert-warning" role="alert" sec:authorize="isAuthenticated()">
                    Este vehículo está actualmente reservado.
                </div>
                <div th:if="${not isReserved}" class="alert alert-info" role="alert" sec:authorize="isAuthenticated()">
                    Este vehículo está actualmente disponible.
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Placa Patente</strong>
                            </div>
                            <div class="col-md-6">[[${car.plateCode}]]</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Marca</strong>
                            </div>
                            <div class="col-md-6">[[${car.brand}]]</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Modelo</strong>
                            </div>
                            <div class="col-md-6">[[${car.model}]]</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Sucursal</strong>
                            </div>
                            <div class="col-md-6">[[${car.subsidiary}]]</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Color</strong>
                            </div>
                            <div class="col-md-6">[[${car.color}]]</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Año</strong>
                            </div>
                            <div class="col-md-6">[[${car.year}]]</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Capacidad</strong>
                            </div>
                            <div class="col-md-6">[[${car.capacity}]] pasajeros</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Valor</strong>
                            </div>
                            <div class="col-md-6"
                                 th:text="${'$' + #numbers.formatDecimal(car.getDailyCost, 0, 'POINT', 0, 'NONE') + ' por día'}"></div>
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Tipo</strong>
                            </div>
                            <div class="col-md-6">[[${car.type}]]</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <a sec:authorize="hasRole('ROLE_RESERVATION_C')"
                           th:href="@{/nueva-reserva(idVehiculo=${car.id})}" class="btn btn-primary">Reservar</a>
                        <a th:href="@{/busqueda-vehiculos}" class="btn btn-secondary">Volver</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Comentarios</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="card-text">Comentario</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text">Valoración</p>
                                    </div>
                                </div>
                            </li>
                            <li th:each="comment : ${carComments}" class="list-group-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="card-text">[[${comment.comment}]]</p>
                                    </div>
                                    <div th:replace="~{fragments/rate-star :: ratingStars(${comment.rating})}"></div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${reservations != null}" id="reservation_cards" class="row p-2" sec:authorize="isAuthenticated()">
            <h2 class="mb-4">Historial de reservas</h2>
            <table id="reservations_table" class="table table-striped" th:if="${#lists.size(reservations) > 0}">
                <thead>
                <tr>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Término</th>
                    <th>Nº Días</th>
                    <th>Valor Diario</th>
                    <th>Total</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${reservations}">
                    <td>[[${row.startAt}]]</td>
                    <td>[[${row.endAt}]]</td>
                    <td>[[${row.days}]]</td>
                    <td th:text="${'$' + #numbers.formatDecimal(row.dailyCost, 0, 'POINT', 0, 'NONE')}"></td>
                    <td th:text="${'$' + #numbers.formatDecimal(row.amount, 0, 'POINT', 0, 'NONE')}"></td>
                    <td>
                        <span th:if="${row.status == 'paid'}" class="p-2 bg-success text-white" th:text="${'PAGADO'}"></span>
                        <span th:if="${row.status == 'pending'}" class="p-2 bg-warning text-white" th:text="${'PENDIENTE DE PAGO'}"></span>
                        <span th:if="${row.status == 'released'}" class="p-2 bg-info text-white" th:text="${'CONFIRMADA'}"></span>
                        <span th:if="${row.status == 'cancelled'}" class="p-2 bg-danger text-white" th:text="${'CANCELADA'}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:unless="${#lists.size(reservations) > 0}" class="alert alert-info" role="alert">
            No existen reservas para este vehículo.
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<div th:replace="~{fragments/footer :: footer_scripts}"></div>
</body>
</html>