<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head_tag('Modificación de Vehículos')}">
    <title>Modificación de Vehículos</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('mantenedor-vehiculos')}"></nav>
<div class="container bg-white p-2">
    <div class="p-2">
        <h2 class="mb-4">Modificación de Vehículos</h2>
    </div>

    <form th:object="${editCarForm}" th:action="@{/editar-vehiculo/{id}(id = ${id})}" method="post" class="p-2" enctype="multipart/form-data">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            Hay errores en el formulario. Por favor, corrígelos e intenta de nuevo.
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="subsidiary_id">Sucursal:</label>
                    <select th:field="*{subsidiaryId}" class="form-control" id="subsidiary_id" name="subsidiary_id">
                        <option value="">Elija una Sucursal...</option>
                        <option th:each="sub : ${listOfSubsidiaries}" th:value="${sub['id']}" th:text="${sub['name']}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Imagen del Vehículo:</label>
                    <input th:field="*{image}" type="file" class="form-control" id="image" name="image"
                           accept="image/*" onchange="loadImage(event)">
                </div>
                <img id="output" width="200" th:src="*{imageUrl}" alt="Imagen del Vehículo" />
            </div>
            <div class="col-lg-9">
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="plate_code">Placa Patente:</label>
                        <input th:field="*{plateCode}" type="text" class="form-control" id="plate_code"
                               name="plate_code" required>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="brand">Marca:</label>
                        <select th:field="*{brand}" class="form-control" id="brand">
                            <option value="">Elija una Marca...</option>
                            <option th:each="brand : ${listOfBrands}" th:value="${brand['id']}" th:text="${brand['name']}"></option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="model">Modelo:</label>
                        <input th:field="*{model}" type="text" class="form-control" id="model" name="model" required>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="factory_year">Año de Fabricación:</label>
                        <input th:field="*{factoryYear}" type="number" class="form-control" id="factory_year"
                               name="factory_year" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label for="type">Tipo de Vehículo:</label>
                        <select th:field="*{type}" class="form-control" id="type">
                            <option value="">Elija un Tipo...</option>
                            <option th:each="type : ${listOfCarTypes}" th:value="${type['id']}" th:text="${type['name']}"></option>
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="color">Color:</label>
                        <input th:field="*{color}" type="text" class="form-control" id="color" name="color" required>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="capacity">Capacidad:</label>
                        <input th:field="*{capacity}" type="number" class="form-control" id="capacity" name="capacity"
                               required>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="daily_cost">Costo Diario:</label>
                        <input th:field="*{dailyCost}" type="number" class="form-control" id="daily_cost"
                               name="daily_cost" required>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="mt-5 btn btn-primary">Editar Vehículo</button>
        <a th:href="@{/mantenedor-vehiculos}" class="mt-5 btn btn-secondary">Regresar al Mantenedor</a>
    </form>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<script>
    const loadImage = function (event) {
        const output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
</body>
</html>
