<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Tu mejor opción en Rent-A-Car')}"><title>INDEX</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('index')}"></nav>
<div class="container bg-white p-2">
    <div class="row mt-5">
        <div class="col-md-6">
            <h1 class="display-4">Te lo Presto Rent A Car</h1>
            <p class="lead">Ofrecemos una amplia variedad de vehículos para satisfacer todas tus necesidades de
                transporte. ¡Reserva hoy mismo!</p>
            <a th:href="@{/busqueda-vehiculos}" class="btn btn-primary btn-lg">Reservar ahora</a>
        </div>
        <div class="col-md-6 text-center">
            <img th:src="@{/img/auto.jpg}" alt="Alquila un auto con Rent a Car" class="img-fluid rounded">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <h2>¿Por qué arrendar con nosotros?</h2>
            <ol class="list-unstyled">
                <li class="py-2"><i class="fas fa-check-circle text-primary"></i> Porque somos una empresa joven e innovadora</li>
                <li class="py-2"><i class="fas fa-check-circle text-primary"></i> Porque conocemos el mercado</li>
                <li class="py-2"><i class="fas fa-check-circle text-primary"></i> Porque sabemos lo complejo que es</li>
            </ol>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <h2>Nuestros Servicios</h2>
            <ul class="list-unstyled">
                <li class="py-2"><i class="fas fa-car text-primary"></i> Servicio de renta de autos</li>
                <li class="py-2"><i class="fas fa-shuttle-van text-primary"></i> Servicio "Te llevo?"</li>
                <li class="py-2"><i class="fas fa-shield-alt text-primary"></i> Seguros</li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<div th:replace="~{fragments/footer :: footer_scripts}"></div>
</body>
</html>
