<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag(' - Rent A Car')}"><title>INDEX</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('index')}"></nav>

<div class="container bg-white p-2">
    <h1 class="text-center mb-4">TE LO PRESTO - RENT A CAR</h1>
    <h2 class="text-center mb-4">¡Bienvenido a nuestro Portal de Alquiler de Vehículos!</h2>
    <h3 class="text-center mb-4">¡Descubre hoy mismo la mejor opción para tu próximo viaje y disfruta de la experiencia única que ofrecemos!</h3>
    <div class="row b-2">
        <!-- Tarjetas dinámicas para cada tipo de vehículo -->
        <div class="col-12">
            <div id="vehicleTypeCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li th:each="carType, stat : ${carTypes}" th:data-target="'#vehicleTypeCarousel'" th:data-slide-to="${stat.index}" th:class="${stat.first} ? 'active' : ''"></li>
                </ol>
                <div class="carousel-inner">
                    <div th:each="carType, stat : ${carTypes}" th:class="${stat.first} ? 'carousel-item active' : 'carousel-item'">
                        <img th:src="@{${carType.image}}" class="d-block w-500" alt="Imagen del tipo de vehículo"/>
                        <div class="carousel-caption d-none d-md-block">
                            <div class="description-box">
                                <h4 th:text="${carType.name}">Nombre del Tipo de Vehículo</h4>
                                <p th:text="${carType.description}">Descripción</p>
                                <form th:action="@{/busqueda-vehiculos}" method="post">
                                    <input type="hidden" th:value="${carType.id}" th:attr="name='type'">
                                    <button type="submit" class="btn btn-primary">Explorar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#vehicleTypeCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#vehicleTypeCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
            <div class="container mt-4">
                <div class="d-flex flex-row flex-nowrap overflow-auto">
                    <div th:each="carType, stat : ${carTypes}" class="m-2">
                        <form th:action="@{/busqueda-vehiculos}" method="post">
                            <input type="hidden" th:value="${carType.id}" th:attr="name='type'">
                            <button type="submit" class="btn btn-primary btn-sm" th:id="'btn-' + ${stat.index}" th:text="${carType.name}">Nombre del Tipo de Vehículo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<div th:replace="~{fragments/footer :: footer_scripts}"></div>
<script>
    $(document).ready(function () {
        function changeButtonColor(activeIndex) {
            // Restablece todos los botones a la clase original
            $('.btn-primary, .btn-success').each(function() {
                if ($(this).attr('id') !== 'btn-' + activeIndex) {
                    $(this).removeClass('btn-success').addClass('btn-primary');
                }
            });
            // Encuentra el botón correspondiente y cambia su clase
            $('#btn-' + activeIndex).removeClass('btn-primary').addClass('btn-success');
        }

        const initialActiveIndex = $('#vehicleTypeCarousel .carousel-item.active').index();
        changeButtonColor(initialActiveIndex);

        $('#vehicleTypeCarousel').on('slide.bs.carousel', function (e) {
            changeButtonColor(e.to);
        });
    });
</script>
</body>
</html>