<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Tu mejor opción en Rent-A-Car')}"><title>INDEX</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('index')}"></nav>
<div class="container bg-white p-2">
    <div class="row">
        <div class="col-md-6">
            <h1>Te lo Presto Rent A Car</h1>
            <p>Ofrecemos una amplia variedad de vehiculos para satisfacer todas tus necesidades de
                transporte.¡Reserva hoy mismo!</p>
            <a th:href="@{/busqueda-vehiculos}" class="btn btn-primary btn-lg">Reservar ahora</a>
        </div>
        <div class="col-md-6">
            <img th:src="@{/img/auto.jpg}" alt="Alquila un auto con Rent a Car" class="img-fluid">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h1>¿Por qué arrendar con nosotros?</h1>
            <ol>
                <li>Porque somos una empresa joven e innovadora</li>
                <li>Porque conocemos el mercado</li>
                <li>Porque sabemos lo complejo que es</li>
            </ol>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h1>Nuestros Servicios</h1>
            <p>
            <ol>
                <li> Servicio de renta de autos</li>
                <li> Servicio "Te llevo?"</li>
                <li> Seguros</li>
            </ol>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
</body>
</html>