<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Ingresar Pago')}"><title>INGRESAR PAGO</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('pagos')}"></nav>
<div class="container bg-white p-2">
    <div class="p-2">
        <h2 class="mb-4">Ingresar Pago</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Información de la Reserva</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>ID de la Reserva</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.id}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Vehículo</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.brand} + ' ' + ${reservation.model}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Fecha de Inicio</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.startAt}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Fecha de Término</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.endAt}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Nº de Días</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.days}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Valor Diario</strong>
                        </div>
                        <div class="col-md-6">[[${'$' + #numbers.formatDecimal(reservation.dailyCost, 0, 'POINT', 0, 'NONE')}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Total</strong>
                        </div>
                        <div class="col-md-6">[[${'$' + #numbers.formatDecimal(reservation.amount, 0, 'POINT', 0, 'NONE')}]]</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <form th:action="@{/ingresar-pago/{id}(id=${reservationId})}" th:object="${paymentForm}" method="post">
                <div class="form-group">
                    <label for="amount">Monto:</label>
                    <input th:field="*{amount}" type="number" class="form-control" id="amount" name="amount" required readonly>
                </div>
                <div class="form-group">
                    <label for="paymentDate">Fecha de Pago:</label>
                    <input th:field="*{date}" type="text" class="form-control" id="paymentDate" name="paymentDate" required>
                </div>
                <div class="form-group">
                    <label for="paymentMethod">Método de Pago:</label>
                    <select th:field="*{method}" class="form-control" id="paymentMethod">
                        <option value="">Elija un Método...</option>
                        <option value="credit">Crédito</option>
                        <option value="debit">Débito</option>
                        <option value="cash">Efectivo</option>
                        <option value="cash">Transferencia</option>
                    </select>
                </div>
                <button type="submit" class="mt-5 btn btn-primary">Ingresar Pago</button>
                <a th:href="@{/pagos}" class="mt-5 btn btn-secondary">Regresar a Pagos</a>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        flatpickr("#paymentDate", {
            dateFormat: "Y-m-d"
        });
    });
</script>
</body>
</html>