<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head_tag('Gestión de Flota de Vehículos')}">
    <title>Mantenedor de Vehículos</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('mantenedor-vehiculos')}"></nav>
<div class="container bg-white">
    <div class="p-2">
        <h2 class="mb-4">Gestión de Flota de Vehículos</h2>
    </div>

    <!-- Crear un nuevo vehículo -->
    <a th:href="@{/nuevo-vehiculo}" class="btn btn-primary">
        Nuevo Vehículo
    </a>
    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
    </div>
    <!-- Lista de vehículos existentes -->
    <div id="car-list" class="p-2">
        <h3>Vehículos en el Sistema</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Placa Patente</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <!-- Aquí debes iterar sobre la lista de vehículos y mostrar cada vehículo -->
            <tr th:each="car : ${cars}">
                <td th:text="${car.plateCode}"></td>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td>
                    <a th:if="${car.status == 'Disponible'}" th:href="@{'/editar-vehiculo/' + ${car.id}}">Editar |</a>
                    <a th:if="${car.status == 'Disponible'}" th:href="@{'/eliminar-vehiculo/' + ${car.id}}">Eliminar |</a>
                    <a th:if="${car.status == 'Disponible'}" th:href="@{'/cambiar-a-en-mantencion/' + ${car.id}}">Enviar a Mantención</a>
                    <a th:if="${car.status == 'En Mantención'}" th:href="@{'/cambiar-a-disponible/' + ${car.id}}">Habilitar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<div th:replace="~{fragments/footer :: footer_scripts}"></div>
</body>
</html>
