<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Mis Reservas')}"><title>INDEX</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('reservas')}"></nav>
<div class="container bg-white">
    <div class="p-2">
        <h2 class="mb-4">Mis Reservas</h2>
    </div>
    <div th:if="${results != null}" id="reservation_cards" class="p-2">
        <table id="reservations_table" class="table table-striped" th:if="${#lists.size(results) > 0}">
            <thead>
            <tr>
                <th>Vehículo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Término</th>
                <th>Nº Días</th>
                <th>Valor Diario</th>
                <th>Total</th>
                <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${results}" th:classappend="${highlight != null && row.id == highlight ? 'alert alert-success bg-success' : ''}">
                <td>[[${row.brand}]]-[[${row.model}]]</td>
                <td>[[${row.startAt}]]</td>
                <td>[[${row.endAt}]]</td>
                <td>[[${row.days}]]</td>
                <td th:text="${'$' + #numbers.formatDecimal(row.dailyCost, 0, 'POINT', 0, 'NONE')}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(row.amount, 0, 'POINT', 0, 'NONE')}"></td>
                <td>[[${row.status}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
</body>
</html>