<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Mis Reservas')}"><title>INDEX</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('reservas')}"></nav>
<div class="container bg-white p-2">
    <div class="p-2">
        <h2 class="mb-4">Mis Reservas</h2>
    </div>

    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${results != null}" id="reservation_cards" class="p-2">
        <table id="reservations_table" class="table table-striped" th:if="${#lists.size(results) > 0}">
            <thead>
            <tr>
                <th>Vehículo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Término</th>
                <th>Nº Días</th>
                <th>Valor Diario</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${results}" th:classappend="${highlight != null && row.id == highlight ? 'alert alert-success bg-success' : ''}">
                <td>[[${row.brand}]] - [[${row.model}]]</td>
                <td>[[${row.startAt}]]</td>
                <td>[[${row.endAt}]]</td>
                <td>[[${row.days}]]</td>
                <td th:text="${'$' + #numbers.formatDecimal(row.dailyCost, 0, 'POINT', 0, 'NONE')}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(row.amount, 0, 'POINT', 0, 'NONE')}"></td>
                <td>
                    <span th:if="${row.status == 'paid'}" class="p-2 bg-success text-white" th:text="${'PAGADO'}"></span>
                    <span th:if="${row.status == 'pending'}" class="p-2 bg-warning text-white" th:text="${'PENDIENTE DE PAGO'}"></span>
                    <span th:if="${row.status == 'released'}" class="p-2 bg-info text-white" th:text="${'CONFIRMADA'}"></span>
                    <span th:if="${row.status == 'cancelled'}" class="p-2 bg-danger text-white" th:text="${'CANCELADA'}"></span>
                </td>
                <td>
                    <span th:if="${row.status == 'pending'}" class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Próximamente disponible">
                        <a href="#" class="btn btn-primary disabled" style="pointer-events: none;" role="button" aria-disabled="true">Pagar con Flow</a>
                    </span>

                    <a th:if="${row.status == 'released'}" th:href="@{/mis-reservas/{id}/comentar(id=${row.id})}" class="btn btn-info">Comentar</a>
                    <a th:if="${row.status == 'pending'}" th:href="@{/mis-reservas/{id}/editar(id=${row.id})}" class="btn btn-success">Editar</a>
                    <a th:if="${row.status == 'paid'}" th:href="@{/mis-reservas/{id}/confirmar(id=${row.id})}" class="btn btn-info">Confirmar</a>
                    <a th:if="${row.status != 'cancelled' && row.status != 'released'}" th:href="@{/mis-reservas/{id}/cancelar(id=${row.id})}" class="btn btn-danger">Cancelar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${#lists.size(results) > 0}" class="alert alert-info" role="alert">
        Ud. no posee reservas de vehículos.
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<div th:replace="~{fragments/footer :: footer_scripts}"></div>
</body>
</html>