<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Nuevo Comentario')}"><title>INDEX</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('reservas')}"></nav>
<div class="container bg-white p-2">
    <div class="p-2">
        <h2 class="mb-4">Nuevo Comentario</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="p-2">Información de la Reserva</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>ID de la Reserva</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.id}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Vehículo</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.brand} + ' ' + ${reservation.model}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Fecha de Inicio</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.startAt}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Fecha de Término</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.endAt}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Nº de Días</strong>
                        </div>
                        <div class="col-md-6">[[${reservation.days}]]</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Valor Diario</strong>
                        </div>
                        <div class="col-md-6">[[${'$' + #numbers.formatDecimal(reservation.dailyCost, 0, 'POINT', 0,
                            'NONE')}]]
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Total</strong>
                        </div>
                        <div class="col-md-6">[[${'$' + #numbers.formatDecimal(reservation.amount, 0, 'POINT', 0,
                            'NONE')}]]
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="p-2">Datos del comentario</h3>
            <form th:object="${commentForm}" th:action="@{/mis-reservas/{id}/comentar(id=${reservationId})}" method="post" class="p-2">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
                </div>
                <div class="mb-3 row">
                    <label for="comment" class="col-sm-2 col-form-label">Comentario</label>
                    <div class="col-sm-10">
                        <textarea id="comment" class="form-control" th:field="*{comment}"></textarea>

                        <div th:if="${#fields.hasErrors('comment')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{comment}"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="hiddenRating" class="col-sm-2 col-form-label">Calificación</label>
                    <div class="col-sm-10">
                        <input type="hidden" id="hiddenRating" th:field="*{rating}" />
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                        </div>
                        <div th:if="${#fields.hasErrors('rating')}" class="alert alert-danger" role="alert">
                            <span th:errors="*{rating}"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="mt-5 btn btn-primary">Comentar y calificar</button>
                <a th:href="@{/reservas-clientes}" class="mt-5 btn btn-secondary">Regresar</a>
            </form>

        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<div th:replace="~{fragments/footer :: footer_scripts}"></div>
<script>
    let ratingInput = document.querySelector('#hiddenRating');
    let ratingStars = Array.from(document.querySelectorAll('.rating > label')).reverse();
    let ratingValue = ratingInput ? ratingInput.value : 0;

    // Función para desresaltar todas las estrellas
    function clearStars() {
        ratingStars.forEach((star) => {
            star.style.color = '#ddd';
        });
    }

    // Resalta las estrellas correspondientes
    ratingStars.forEach((star, index) => {
        if (index < ratingValue) {
            star.style.color = '#FFD700';
        }
        star.addEventListener('click', () => {
            clearStars(); // Desresalta todas las estrellas
            ratingInput.value = index + 1;
            for (let i = 0; i <= index; i++) {
                ratingStars[i].style.color = '#FFD700'; // Resalta las estrellas seleccionadas
            }
        });
    });
</script>
</body>
</html>