<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Pagos')}"><title>PAGOS</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('pagos')}"></nav>
<div class="container bg-white">
    <div class="p-2 ">
        <h2 class="mb-4">Pagos Realizados</h2>
    </div>
    <div th:if="${results != null}" id="payment_cards" class="p-2">
        <table id="payment_table" class="table table-striped" th:if="${#lists.size(results) > 0}">
            <thead>
            <tr>
                <th>Reserva</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Monto</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${results}">
                <td>[[${row.reservationId}]]</td>
                <td>[[${row.paymentDate}]]</td>
                <td>[[${row.type}]]</td>
                <td>[[${row.amount}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="p-2 bg-white">
        <h2 class="mb-4">Reservas Pendiente de Pagos</h2>
    </div>
    <div th:if="${reservations != null}" id="reservation_cards" class="bg-white p-2">
        <table id="reservation_table" class="table table-striped" th:if="${#lists.size(reservations) > 0}">
            <thead>
            <tr>
                <th>Fecha Inicio</th>
                <th>Fecha de Termino</th>
                <th>Vehiculo</th>
                <th>Precio</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${reservations}">
                <td>[[${row.startAt}]]</td>
                <td>[[${row.endAt}]]</td>
                <td>[[${row.car.brand}]]-[[${row.car.model}]]</td>
                <td>[[${row.car.cost}]]</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments/footer :: footer_tag"></footer>
</body>
</html>