<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Requisitos')}"><title>VEHICULOS</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('requisitos')}"></nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Recuperación de Contraseña</h3>
                    <form th:object="${passwordRecoveryForm}" th:action="@{/recuperar-contrasenia}" method="post" class="p-2">
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input th:field="*{email}" type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Enviar enlace de recuperación</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<div th:replace="~{fragments/footer :: footer_scripts}"></div>
</body>
</html>