<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Registro')}"><title>Regístarte</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('registro')}"></nav>

<div class="container bg-white p-2">
    <h1 class="text-center mb-5">REGISTRATE</h1>
    <form th:action="@{/registro}" th:object="${registerForm}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="text-danger"  th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>
        <!-- Datos del cliente -->
        <div class="mb-3 row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre" th:field="*{name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="apellido" th:field="*{lastname}">
                <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="error text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" th:field="*{password}">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="passwordConfirmation" class="col-sm-2 col-form-label">Confirmación de Contraseña</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="passwordConfirmation" th:field="*{passwordConfirmation}">
                <span th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="error text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="rut" class="col-sm-2 col-form-label">RUT</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="rut" th:field="*{rut}">
                <span th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}" class="error text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="address" class="col-sm-2 col-form-label">Dirección</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" th:field="*{address}">
                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="phone" class="col-sm-2 col-form-label">Teléfono</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" th:field="*{phone}">
                <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-12 text-center">
                <button id="btncontacto" type="submit" class="btn btn-primary">Regístrate</button>
            </div>
        </div>
    </form>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
<div th:replace="~{fragments/footer :: footer_scripts}"></div>
</body>
</html>