<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Reservas Clientes')}"><title>INDEX</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('reservas-clientes')}"></nav>
<div class="container bg-white">
    <div class="p-2">
        <h2 class="mb-4">Reservas Clientes</h2>
    </div>
    <form th:object="${reservationSearchForm}" th:action="@{/reservas-clientes}" method="post" class="p-2">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="rut">Rut:</label>
                <input th:field="*{rut}" type="text" class="form-control" id="rut" placeholder="Ej.: 12345678-9">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <div th:if="${reservations != null}" id="reservation_cards" class="bg-white p-2">
        <h2 class="mb-4">Reservas de <span th:utext="${username}"></span></h2>
        <table id="reservation_table" class="table table-striped" th:if="${#lists.size(reservations) > 0}">
            <thead>
            <tr>
                <th>Vehículo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Término</th>
                <th>Nº Días</th>
                <th>Valor Diario</th>
                <th>Total</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${reservations}">
                <td>[[${row.brand}]]-[[${row.model}]]</td>
                <td>[[${row.startAt}]]</td>
                <td>[[${row.endAt}]]</td>
                <td>[[${row.days}]]</td>
                <td th:text="${'$' + #numbers.formatDecimal(row.dailyCost, 0, 'POINT', 0, 'NONE')}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(row.amount, 0, 'POINT', 0, 'NONE')}"></td>
                <td>
                    <a th:if="${row.status != 'paid'}" th:href="@{/ingresar-pago/{id}(id=${row.id})}" class="btn btn-primary">Confirmar Pago</a>
                    <span th:if="${row.status == 'paid'}" class="btn btn-success disabled">Pagado</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
</body>
</html>