<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Reservas Clientes')}"><title>INDEX</title></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('reservas-clientes')}"></nav>
<div class="container bg-white p-2">
    <div class="p-2">
        <h2 class="mb-4">Reservas Clientes</h2>
    </div>
    <form th:object="${reservationSearchForm}" th:action="@{/reservas-clientes}" method="post" class="p-2">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="rut">Rut:</label>
                <input th:field="*{rut}" type="text" class="form-control" id="rut" placeholder="Ej.: 12345678-9">
                <div th:if="${#fields.hasErrors('rut')}" class="alert alert-danger" role="alert">
                    <span th:errors="*{rut}"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <div th:if="${reservations != null}" id="reservation_cards" class="bg-white p-2">
        <h2 class="mb-4">Reservas de <span th:utext="${username}"></span></h2>
        <table id="reservation_table" class="table table-striped" th:if="${#lists.size(reservations) > 0}">
            <thead>
            <tr>
                <th>Vehículo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Término</th>
                <th>Nº Días</th>
                <th>Valor Diario</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${reservations}">
                <td>[[${row.brand}]]-[[${row.model}]]</td>
                <td>[[${row.startAt}]]</td>
                <td>[[${row.endAt}]]</td>
                <td>[[${row.days}]]</td>
                <td th:text="${'$' + #numbers.formatDecimal(row.dailyCost, 0, 'POINT', 0, 'NONE')}"></td>
                <td th:text="${'$' + #numbers.formatDecimal(row.amount, 0, 'POINT', 0, 'NONE')}"></td>
                <td>
                    <span th:if="${row.status == 'paid'}" class="p-2 bg-success text-white" th:text="${'PAGADO'}"></span>
                    <span th:if="${row.status == 'pending'}" class="p-2 bg-warning text-white" th:text="${'PENDIENTE DE PAGO'}"></span>
                    <span th:if="${row.status == 'released'}" class="p-2 bg-info text-white" th:text="${'CONFIRMADA'}"></span>
                    <span th:if="${row.status == 'cancelled'}" class="p-2 bg-danger text-white" th:text="${'CANCELADA'}"></span>
                <td>
                    <a th:if="${row.status == 'pending'}" th:href="@{/ingresar-pago/{id}(id=${row.id})}" class="btn btn-primary">Confirmar Pago</a>
                    <a th:if="${row.status != 'cancelled' && row.status != 'released'}" th:href="@{/reservas-clientes/{id}/cancelar(id=${row.id})}" class="btn btn-danger">Cancelar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
</body>
</html>