<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head_tag('Redes Sociales')}">
    <title>Redes Sociales</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar('rrss')}"></nav>
<!-- Contenido principal de la página -->
<div class="container bg-white">
    <!-- Tu contenido principal aquí -->
    <h1>Encuéntranos en Redes Sociales!</h1>
    <p>Y entérate de todas nuestras novedades en vehículos y servicios.</p>

    <!-- Enlaces a redes sociales y correo con imágenes -->
    <div class="social-links">
        <a href="https://twitter.com/TeloPrestoRAC" target="_blank">
            <img th:src="@{/img/tw.jpg}" alt="Twitter" width="100" height="100">
        </a>
        <a href="https://www.instagram.com/TeloPrestoRAC" target="_blank">
            <img th:src="@{/img/ig.jpg}" alt="Instagram" width="100" height="100">
        </a>
        <a href="mailto:teloprestorentacar@gmail.com">
            <img th:src="@{/img/gmail.jpg}" alt="Correo Gmail" width="100" height="100">
        </a>
    </div>
</div>
<br>
<footer th:replace="~{fragments/footer :: footer_tag}"></footer>
</body>
</html>
